.container-search{
  position: relative;
  white-space: nowrap;
}

.container-search > svg {
  position: absolute;
  top: 30%;
  left: 1.75rem;
  z-index: 2;
}

.search-bar {
  position: relative;
  width: 530px;
  border-radius: 2rem;
  height: 1rem;
  box-shadow: 0px 4px 19px rgba(0, 0, 0, 0.25);
  padding: 1.75rem 4rem;
  font-size: 1rem;
  border: none;
  z-index: 1;
  background-color: white;
  transition: all 100ms;
}

.search-bar:focus{
  transform: scale(1.05);
}