.small-card {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 240px;
  height: 180px;
  border-radius: 24px;
  padding: 1rem;
  box-shadow: 0px 4px 19px rgba(0, 0, 0, 0.25);
  align-items: center;
  font-size: 1.2rem;
  justify-content: space-evenly;
  overflow: hidden;
  background-color: var(--day-small-card-clr);
}

.degree {
  font-weight: 200;
}

.small-card-weather {
  text-align: center;
  font-weight: 700;
}

.small-high-low {
  font-size: 1.6rem;
}

#small-bg{
  position: absolute;
  overflow: hidden;
  bottom: 45px;
  left: -45px;
  opacity: 0.14;
}