@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --ff-one: 'Overpass', sans-serif;
  --ff-two: 'Poppins', sans-serif;
  --day-font-clr: hsl(35, 8%, 20%);
  --day-search-bar-clr: hsl(201, 100%, 87%);
  --day-today-card-clr: hsl(202, 100%, 79%);
  --day-small-card-clr: hsl(202, 100%, 68%);
  --gradient-clr: linear-gradient(180deg, #C9EBFF 20.31%, #7CC4ED 100%);
}

*,*::before,*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: var(--ff-one);
  color: var(--day-font-clr);
  background: var(--gradient-clr);
  overflow: hidden;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  gap: 2rem;
  min-width: 1000px;
}

.small-card-container {
  display: flex;
}

.small-card-container {
  gap: 1.5rem;
}

.location-name {
  position: absolute;
  text-align: center;
  width: 100%;
  top: 0;
  font-size: 13rem;
  font-weight: 800;
  color: hsla(39, 16%, 76%, 40%);
  z-index: -1;
}

@media only screen and (max-width: 1110px){
  .location-name {
    font-size: 10rem;
  }
}