@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --ff-one: 'Overpass', sans-serif;
  --ff-two: 'Poppins', sans-serif;
  --font-clr: #37342f;
  --search-bar-clr: #bde8ff;
  --today-card-clr: #94d8ff;
  --small-card-clr: #5cc3ff;
  --gradient-clr: linear-gradient(180deg, hsl(202, 100%, 89%) 20.31%, hsl(202, 76%, 71%) 100%);
}

*,*::before,*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: var(--ff-one);
  color: var(--font-clr);
  background: var(--gradient-clr);
  overflow: hidden;
  transition: all 300ms ease;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  gap: 2rem;
}

.small-card-container {
  display: flex;
  gap: 1.5rem;
}

.location-name {
  position: absolute;
  text-align: center;
  width: 100%;
  top: 0;
  font-size: 13rem;
  font-weight: 800;
  color: rgba(255, 255, 255, 0.4);
  z-index: -1;
}

.skeleton {
  width: 100%;
  height: 100%;
  background: linear-gradient(100deg, rgba(255, 255, 255, 0.05) 28%, rgba(255, 255, 255, 0.4) 35%, rgba(255, 255, 255, 0.05) 42%, rgba(255, 255, 255, 0.05) 100%);
  background-size: 200% 100%;
  animation: skeleton-loading 1s linear infinite;
}

@keyframes skeleton-loading {
  0% {
    background-position: 50% 0;
  }

  100% {
    background-position: -150% 0;
  }
}

@media only screen and (max-width: 1110px){
  .location-name {
    font-size: 10rem;
  }
}

@media only screen and (max-width: 650px){
  body, .container{
    overflow-y: visible;
  }

  .container{
    height: 100%;
    padding-top: 3rem;
  }
  
  .location-name {
    text-align: center;
    font-size: 7rem;
  }

  .small-card-container{
    flex-direction: column;
    margin-bottom: 2rem;
  }
}